
*,*::before,*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Inter-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(Inter-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(Inter-Black.woff2) format('woff2');
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375;
  margin: 0;
}

img,
video {
  border: none;
  display: block;
  max-width: 100%;
}

a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
}

ul li {
  font-variant-numeric: tabular-nums;
  list-style: none;
  margin-bottom: .375em;
  padding: 0;
}

header {
  padding: 4rem 1rem 0 1rem;
}

main {
  margin: 4rem 1rem;
}

footer {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  margin: 4rem 1rem;
}

footer,
footer a {
  color: #666;
}

footer a:hover {
  color: #fff;
}

header h1,
h3 {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25;
}

header h2 {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.225;
}

section h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-size: clamp(3rem, 7.25vw, 6rem);
  font-weight: 900;
  letter-spacing: clamp(-4px, -.3vw, -2px);
  line-height: 1;
}

section p,
section ul,
section li {
  font-size: 1rem;
  line-height: 1.5;
}

.portfolio {
  margin: 4rem 0 8rem;
}

.portfolio img,
.portfolio video {
  border-radius: 4px;
  margin-top: 1rem;
  overflow: hidden;
}
.portfolio img:first-child {
  margin-top: 0;
}

header h1 {
  animation-delay: .25s;
}

header h2 {
  animation-delay: .375s;
}

section h1 {
  animation-delay: .625s;
}

section p {
  animation-delay: .75s;
}

section {
  animation-delay: .875s;
}

@keyframes fi {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fi {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fi;
  animation-timing-function: ease-in;
}

.m {
  display: block;
}

.d {
  display: none;
}

@media all and (min-width: 49em) {
  .m {
    display: none;
  }
  .d {
    display: block;
  }
  header {
    padding: 7rem 4rem 0 4rem;
    max-width: 75rem;
  }
  main {
    margin: 7rem 4rem 0 4rem;
    max-width: 75rem;
  }
  footer {
    grid-template-columns: repeat(3, 1fr);
    margin: 8rem 4rem;
    max-width: 75rem;
  }
  header h1,
  h3 {
    font-size: 1.5rem;
    line-height: 1.25;
  }
  header h2 {
    font-size: 1.25rem;
    line-height: 1.25;
  }
  section p,
  section ul,
  section li {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  .profile p {
    font-size: 1.5rem;
    line-height: 1.25;
    max-width: 37rem;
  }
  .breakout {
    display: none;
  }
  .portfolio {
    columns: 3;
    column-gap: 1rem;
  }
  .about {
    grid-column: span 2;
  }
}
