
*,*::before,*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
  font-family: monospace;
  margin: 0;
}

div {
  margin-top: 16rem;
  text-align: center;
}